<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    
    <add key="EvolutionServerName" value="NELIUS\SQL2014FULL" />
    <add key="EvolutionDatabase" value="SAW Africa Final" />
    <add key="EvolutionUserName" value="sa" />
    <add key="EvolutionPassword" value="sa" />

    <add key="CommonServerName" value="NELIUS\SQL2014FULL" />
    <add key="CommonDatabase" value="EvolutionCommon209" />
    <add key="CommonUserName" value="sa" />
    <add key="CommonPassword" value="sa" />


    <add key="LogFilePath" value="C:\AIT\SAW.txt"/>
  </appSettings>
</configuration>